<app-header></app-header>



<div class="container">
    <div>
        <div class="mx-auto" style="width: 170px;">
            <h1>Cotação</h1>
        </div>

        <div class="espaco">
            <div class="input-group mb-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Nome</span>
                    </div>
                    <input type="text" class="form-control" placeholder="" value="Maria Antonia" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">CPF</span>
                        </div>
                        <input type="text" class="form-control" placeholder="" value="123.456.789-12"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">E-mail</span>
                            </div>
                            <input type="text" class="form-control" placeholder="" value="maria@internet.com"
                                aria-label="Username" aria-describedby="basic-addon1">
                        </div>



                        <a href="cotacao2" type="button" class="btn btn-primary btn-lg btn-block">Enviar</a>
                    </div>

                    

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <input type="checkbox" aria-label="Checkbox for following text input">
                          </div>
                        </div>
                        <div class="space">
                            <h6>Seguro Auto</h6>
                        </div>
                      </div>
                      
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <input type="checkbox" aria-label="Checkbox for following text input">
                          </div>
                        </div>
                        <div class="space">
                            <h6>Incapacitação temporaria</h6>
                        </div>
                      </div>

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <input type="checkbox" aria-label="Checkbox for following text input">
                          </div>
                        </div>
                        <div class="space">
                            <h6>Seguro vida resgatavél</h6>
                        </div>
                      </div>

                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <input type="checkbox" aria-label="Checkbox for following text input">
                          </div>
                        </div>
                        <div class="space">
                            <h6>Incapacitação hospitalar</h6>
                        </div>
                      </div>
                      
                </div>