<app-header></app-header>



<div class="container">
    <div>
        <div class="mx-auto" style="width: 300px;">
            <h1>Verificação CNH</h1>
        </div>

        <div class="espaco">
            <div class="input-group mb-3">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Nome</span>
                    </div>
                    <input type="text" class="form-control" placeholder="" value="Maria Antonia" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">CPF</span>
                        </div>
                        <input type="text" class="form-control" placeholder="" value="123.456.789-12"
                            aria-label="Username" aria-describedby="basic-addon1">
                    </div>

                    <div class="input-group mb-3">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1">Número RG</span>
                            </div>
                            <input type="text" class="form-control" placeholder="" value="12.123.456-7"
                                aria-label="Username" aria-describedby="basic-addon1">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon1">Número Espelho</span>
                                </div>
                                <input type="text" class="form-control" placeholder="" value="123456789"
                                    aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                        </div>

                        <a href="cnh" type="button" class="btn btn-primary btn-lg btn-block">Enviar</a>
                    </div>

                    <div class="card mx-auto" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Dados CNH</h5>
                            <p class="card-text">Não Constam Impedimentos</p>
                        </div>
                    </div>

                    <div class="card mx-auto" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Dados do Carro</h5>
                            <p class="card-text">Não constam infrações nos ultimos 5 anos</p>
                        </div>
                    </div>



                </div>